/*-------多媒体查询-------*/
@media screen and (max-width:770px){
    /*导航栏菜单*/
    .nav_ul{
        width: fit-content;
        padding-left: 0px;
        margin: 15px auto 0px auto;
    }
    /*导航栏菜单项*/
    .nav_ul li{
        float: left;
        font-size: 20px;
        color:#000;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        list-style: none;
    }
    /*问候语*/
    .welcome-hello{
        color: #fff;
        font-size: 30px;
        text-align: center;
    }
    /*通用的60px高度*/
    .common60px{
        height: 200px;
    }
}