body{
    background-color: #fff;
}
*{
   font-family: 幼圆,微软雅黑;
}
/*通用的60px高度*/
.common60px{
    height: 60px;
    transition: height 0.5s;
}
/*导航栏*/
.index_nav{
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0px;
}
/*导航栏模糊背景*/
.nav_background{
    width: 100%;
    position: absolute;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.72);
}
/*导航栏内容*/
.nav_content{
    width: 100%;
    position: relative;
    top:0px;
}
/*导航栏菜单*/
.nav_ul{
    width: fit-content;
    padding-left: 0px;
    margin: 15px auto 0px auto;
}
/*导航栏菜单项*/
.nav_ul li{
    float: left;
    font-size: 20px;
    color:#000;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    transition: margin-left 0.5s,margin-right 0.5s;
    list-style: none;
    transition: font-size 0.3s,margin-top 0.3s;
}
.nav_ul li:hover{
    margin-top: -5px;
    font-size: 25px;
}
/*巨幕*/
.lxq-jumbotron{
    width: 100%;
    z-index: 19 ;
    height: 900px;
    color: #fff;
    
}
/*背景图片*/
.jumbotron-bg{
    width: 100%;
    position: absolute;
    height: 900px;
    background-image: url(../img/index_bg.jpg);
}
/*半透明遮罩层*/
.dark-mask{
    position: absolute;
    width: 100%;
    height: 900px;
    z-index: 11;
    background-color: #000;
    opacity: 0.5;
    
}
/*大屏中间的div*/
.welcome{
    width: 100%;
    background: none;
    position: absolute;
    z-index: 12;
    top: 200px;
}

/*问候语*/
.welcome-hello{
    color: #fff;
    font-size: 50px;
    text-align: center;
    transition: font-size 0.5s;
   
}
/*水平线*/
.custom-hr{
    width: 80%;
    margin: 20px auto auto auto;
    height: 1px;
    background-color: #fff;
    animation-name: custom-hr-animation;
    animation-duration: 0.7s;
}
.linear-text{
    width: 195px;
    text-align: center;
    margin: 20px auto auto auto;
}
/*我的相册栏目*/
.my-photo-div{
    margin-top: 100px;
}
/*双线标题修饰*/
.double-line{
    width: 100%;
    position: absolute;
    height: 10px;
    top: 25px;
    border-top:1px solid #888888;
    border-bottom: 1px solid #888888;
}
/*栏目样式*/
.column-title{
    position: absolute;
    width: 130px;
    font-size: 30px;
    color: #7a7e89;
    background-color: #fff;
    /*outline-color:  #7a7e89;
    outline-style: solid;
    outline-width: 1px;*/
    padding: 5px;
    left: 50%;
    display: block;
    transform: translate(-50%)
    
}

/*-------动画-------*/
@keyframes custom-hr-animation{
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}